apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: voting-app-rollouts

resources:
  - vote-rollout.yaml
  - result-rollout.yaml
  - analysis-template.yaml

commonLabels:
  app.kubernetes.io/part-of: voting-app
  deployment-strategy: canary
